database:
  enabled: true
  host: localhost
  port: 8920
  database: crossview
  username: postgres
  password: password

server:
  admin:
    username: admin
    password: password
  port: 3001
  auth:
    mode: "session"
  log:
    level: info
  cors:
    origin: http://localhost:3001
    credentials: true
  session:
    secret: crossview-secret-key-change-in-production
    cookie:
      secure: false
      httpOnly: true
      maxAge: 86400000

sso:
  oidc:
    enabled: true
    issuer: http://localhost:8080/realms/crossview
    clientId: crossview-client
    clientSecret: "I5Rnm5oEPlBwGb5odkca2J9sg1gTj5N3"
    authorizationURL: ""
    tokenURL: ""
    userInfoURL: ""
    callbackURL: http://localhost:3001/api/auth/oidc/callback
    scope: openid profile email
    usernameAttribute: preferred_username
    emailAttribute: email
    firstNameAttribute: given_name
    lastNameAttribute: family_name
  saml:
    enabled: true
    entryPoint: http://localhost:8080/realms/crossview/protocol/saml
    issuer: crossview-saml
    cert: |-
      -----BEGIN CERTIFICATE-----
      MIICoTCCAYkCBgGa5ZcirjANBgkqhkiG9w0BAQsFADAUMRIwEAYDVQQDDAljcm9z
      c3ZpZXcwHhcNMjUxMjAzMTg1OTM4WhcNMzUxMjAzMTkwMTE4WjAUMRIwEAYDVQQD
      DAljcm9zc3ZpZXcwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDDUOqS
      TlOPvb3a5kQoHt5VMFg8lyy+djsaqfi1xhTBKprwHNHL72hjmmWnUnG7LpIFn3wm
      BB3wysQM+bOBAmzKkCQnykXslUnhOdZjqH/HRgNlohfxjnujc25d2x91iQPmT15l
      8581KN/9FX+W1HEOFf1IfRuzg3TfbhN/bc+R5++GXYIcS06d8/uTGqor6v6MiPDF
      paJFJDopQ/FX3EVQX4yrsGWuSV8hMmLVf4JbPRBu33LN7r00pif8GjQTpol7nhLl
      ZSGPnAe90W4/7440yjH/8R6k9NRfAKW3W7YQ20CzM+ffTUAeFUTql0NWqzmCCk2T
      HzgVvYUlfYd9jJijAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAI2sQGSSNl3SyTuY
      yc4IFPhVCf23dCwcctX5kVPVhlEjAGDSbKKBck1Xqfi+k/cnbwh6AOplZBHMK0sy
      pNcpa29iADT5Zzk0OedtBU4A1Ps5HOjESUqbq6i+dbC4mg462cku6fT2ceWzZ5eb
      1Y/ghflQrAx56QJ3Rq/7ybtCrmZbpLL5U4ljBk1P9vFZDF8ALzHbQ8AQ8j3TX5AH
      TCnXMMEE+Hv3rI/8FIYDPubsSaK9rh9bQf5iKAUJymbnc0hdeB8ZRQNqdJAFWmHT
      Q4a1vEqQE3NyMJjJy8WJO3NUtm+bT7VPuw83dw5+rurlHBt95O+hBRfeECEpgICg
      Mjj9TPU=
      -----END CERTIFICATE-----
    callbackURL: http://localhost:3001/api/auth/saml/callback
    usernameAttribute: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name
    emailAttribute: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress
    firstNameAttribute: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname
    lastNameAttribute: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname
    
vite:
  server:
    proxy:
      api:
        target: http://localhost:3001
        changeOrigin: true

